body {
    background-color: #f2f2f2;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    border: 1px solid #111111;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    height: 600px;
    border-radius: 5px;
    padding: 20px;
    background-color: #ece8b1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#answer {
    grid-column: span 4;
    width: 90%;
    height: 80px;
    text-align: right;
    padding: 8px;
    font-size: 24px;
    border: 2px solid #070707; /* Added a darker border */
    background-color: #9fc2c0; /* Changed background color */
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #333; /* Added text color */
}

.btn {
    width: 70px;
    height: 70px;
    font-size: 24px;
    border: none;
    background-color: #b89d9d; /* Changed button background color */
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Adjusted shadow */
    cursor: pointer; /* Add cursor pointer */
    transition: background-color 0.2s ease; /* Add transition */
}

.btn:active {
    background-color: #b89d9d; /* Darken on click */
}

/* Optional: Add different colors for operators */
.btn-op-clear {
    background-color: #ff9500;
    color: white;
}

.btn-op-sign,
.btn-op-percent,
.btn-op-div,
.btn-op-mult,
.btn-op-sub,
.btn-op-add {
    background-color: #292020;
    color: white;
}

.btn-op-equal {
    background-color: #007bff;
    color: white;
}
